<!--<div class="alert alert-info text-center" ng-show="!flash">-->
    <!--<span>未登陆</span>-->
<!--</div>-->
<div class="btn-group btn-group-justified navbar-fixed-bottom">
    <div class="btn-group">
        <button class="btn btn-default">
            <a href="#main"><span class="glyphicon glyphicon-home"></span></a>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default">
            <a href="#usermanger" class="glyphicon glyphicon-user"></a>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default">
        <a href="#myOrder"><span class="glyphicon glyphicon-list"></span></a>
        </button>
    </div>
</div>