<div ng-include="'template/head.html'"></div>
<div class="container">
    <div class="alert alert-success"style="margin:20px 20px" ng-show="msg.length!=0">
       提示信息： {{msg}}不能为空!
    </div>
<div class="panel panel-default">
    <form style="margin:20px 20px">
        <div class="form-group">
            <label for="username">联系人：</label>
            <input type="text" class="form-control" id="username" placeholder="姓名" ng-model="username">
        </div>
        <div class="form-group">
            <label>性别：</label>
            <input type="radio" name="sex" value="男" ng-model="sex">先生
            <input type="radio" name="sex"  value="女" ng-model="sex" style="margin-left: 20px">女士
        </div>
        <div class="form-group">
            <label for="tel">联系电话：</label>
            <input type="tel" class="form-control" id="tel" placeholder="电话" ng-model="phone">
        </div>
        <div class="form-group">
            <label for="address">送餐地址：</label>
            <textarea rows="5" class="form-control"  id="address" ng-model="addr"></textarea>
        </div>
        <div class="form-group">
           <button type="button" class="btn btn-success form-control" ng-click="orderDish()">确定下单</button>
        </div>
    </form>
<div class="alert alert-success"style="margin:20px 20px" ng-show="">
    <p>订单成功！您的订单号为：{{}}。您可以在用户中心查看订单状态。</p>
</div>
</div>
</div>
<div ng-include="'template/footer.html'"></div>